.products{

  .info{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    button{
      padding: 5px;
      cursor: pointer;
      background-color: #fcfcfc;
      border-radius: 100px;
      box-shadow: rgba(44, 134, 187, 0.2) 0 -25px 18px -14px inset,rgba(228, 233, 230, 0.15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(231, 247, 237, 0.15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
      color: rgb(0, 0, 0);
      cursor: pointer;
      display: inline-block;
      font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
      padding: 7px 20px;
      text-align: center;
      text-decoration: none;
      transition: all 250ms;
      border: 0;
      font-size: 16px;
      user-select: none;
      -webkit-user-select: none;
    }
  }
}